.r-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5vh;
    height: 60vh;
}

.r-bar {
    display: flex;
    width: 65%;
    height: 20vh;
    border-radius: 20px;
    transition: .5s all ease;
    position: sticky;
    top: 20vh;
}


.r-left {
    display: flex;
    flex: .6;
    margin: auto;
    margin-left: 60px;
    font-size: 1.05rem;
}

.r-right {
    flex: .4;
    margin: auto;
    margin-right: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.res-btn {
    padding: 10px 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    font-size: 1.5rem;
    background-color: transparent;
    transition: .5s all ease;
    border-color: var(--text-color);
    color: var(--text-color);
    font-weight: 600;
}

.res-btn:hover {
    
    background-color: var(--text-color);
    color: white;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 480px) {

    .r-wrapper {
        height: 10vh;
        margin-bottom: 0;
    }

    .r-bar {
        width: 90%;
        height: 100%;
        flex-direction: column;
        padding: 15px;
        justify-content: center;
        align-items: center;
    }

    .r-left {
        font-size: 12px;
        margin-left: 0;
        display: none;
        flex: 0;
    }

    .r-right {
        flex: 1;
       margin-right: auto;
    }

    .r-bar {
        box-shadow: none;
    }

    .res-btn {
        font-size: 1rem;
    }
  }